.report-wrapper {            
  background: linear-gradient(to bottom right, #3f51b5 0%, #d3d3d3 100%);
  font-family: 'Noto Sans', sans-serif; 
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 92px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 20px;
}

round-progress { 
  margin: auto;
}

ul li a:hover, ul li a:focus {  
  color:#fff;  
  border:1px solid #f40;  
  background-color:#f40;  
}  
