.report-wrapper {            
  background: linear-gradient(to bottom right, #3f51b5 0%, #d3d3d3 100%);
  font-family: 'Noto Sans', sans-serif; 
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 92px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
