.palette {
   width: initial; 
   z-index: 42;

   li a { 
      background: #afc1c1;
      width: 20px; 
      display: block; 
      border-radius: 1rem; 
      cursor:pointer; 
      transition: all .3s ease-in-out; 
      &:hover {
         transform: scale(1.1);
         box-shadow: 0 0 5px rgba(0,0,0,0.68);
      }
   }

   &.palette-color li {

      a { 
         height: 20px; 
         border: 2px solid #f5f5f5;
         border-radius: 50%; 
      }      

      &:nth-child(1) a { background: #2e3c56}
      &:nth-child(2) a { background: #674a3f}
      &:nth-child(3) a { background: #735047}
      &:nth-child(4) a { background: #e62454}
      &:nth-child(5) a { background: #787878}
      &:nth-child(6) a { background: #15d3b2}
      &:nth-child(7) a { background: #1cc9e4}
      &:nth-child(8) a { background: #1bc9e4}
      &:nth-child(9) a { background: #3fe6fd}
      &:nth-child(10) a { background: #f7c5ab}
   }

   &.palette-size li { 

      &:nth-child(1) a { width: 5px; height: 5px; }
      &:nth-child(2) a { width: 7px; height: 7px; }
      &:nth-child(3) a { width: 9px; height: 9px; }
      &:nth-child(4) a { width: 11px; height: 11px; }
      &:nth-child(5) a { width: 13px; height: 13px; }
      &:nth-child(6) a { width: 15px; height: 15px; }
      &:nth-child(7) a { width: 17px; height: 17px; }
      &:nth-child(8) a { width: 19px; height: 19px; }
      &:nth-child(9) a { height: 20px; }
      &:nth-child(10) a { width: 22px; height: 22px; }
   }
}

