<!-- GRAPH -->
<div id="graphCard" class="col strech">    
    <div id="progressBarMetaGraph" #progressBar style='visibility:hidden;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>

    <!-- Graph content -->
    <div class="row strech">
        <div class="row strech row-side">
            <div class="col strech">
                <div class="strech">
                    <div id="meta-canvas" class="graph-canvas strech border" #divCanvas
                    [style.height.px]="graphDivStyleHeightValue" [style.height.px]="graphDivStyleWidthValue"></div>
                    <nav>
                        <ng-container *ngIf="!!selectedElement">
                            <div id="slide-toggle" class="slide border col">
                                <div class="row-center">
                                    <h4>DATA <strong>INFO</strong></h4>
                                </div>
                                <ul class="list border noborder col strech m-10">
                                    <li class="side-margin"><span>Label</span>{{ selectedElement.data('label') }} [{{ selectedElement.id() }}]</li>
                                    <li class="side-margin"><span>Name</span>{{ selectedElement.data('name') }}</li>
                                    <li class="side-margin"><span>Size</span>{{ selectedElement.data('size') }}</li>
                                    <li class="col strech side-margin" *ngIf="selectedElement.data('props').hasOwnProperty('propsCount')">
                                        <span>Property groupCount</span>
                                        <div class="json strech m-10"><pre [innerHtml]="selectedElement.data('props')['propsCount'] | prettyjson:3"></pre></div>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </nav>
                    <!-- Graph.Meta : Labels content -->
                    <!-- <mat-chip-list id="agens-graph-labels">
                        <mat-chip *ngFor="let label of labels" [selected]="true"
                            (click)="clickGraphLabelChip(label.type, label.name)" [style.background]="label.scratch['_style'].color">
                            <span *ngIf="label.type=='nodes'" class="nodeType">{{label.name}} ({{label.size}})</span>
                            <span *ngIf="label.type=='edges'" class="edgeType">{{label.name}} ({{label.size}})</span>
                        </mat-chip>
                    </mat-chip-list> -->
                </div>
            </div>
             <!-- Graph.Meta : toolbar -->
            <div class="row">
                <div id="agens-graph-toolbar" class="viewbox border strech theme">                    
                    <ul class="list icon border noborder">
                        <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                                <mat-icon>refresh</mat-icon></a></li>
                        <li><a (click)="unfoldProperties()" matTooltip="unfold Properties" matTooltipPosition="above">
                            <mat-icon>unfold_more</mat-icon></a></li>
                        <li><a (click)="foldProperties()" matTooltip="fold Properties" matTooltipPosition="above">
                            <mat-icon>unfold_less</mat-icon></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col strech">
            <div class="col strech border p-20 color-box">
                <h5 class="title"><strong>COLOR </strong></h5>   
                <p class="sub-title">When you want to change the color of vertex (node) and edge (link), you may use the color palette below:</p>  
                <ul class="row wrap m-10 strech" id="colorPalette">
                    <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                    <li style="background: #0063b0"></li><li style="background: #6585c2"></li>
                    <li style="background: #1ca1dc"></li><li style="background: #44a3db"></li>
                    <li style="background: #6fbee9"></li><li style="background: #008eb6"></li>
                    <li style="background: #216477"></li><li style="background: #275259"></li>
                    <li style="background: #45543d"></li><li style="background: #215517"></li>
                    <li style="background: #4f9c2a"></li><li style="background: #8ab326"></li>
                    <li style="background: #bcda78"></li><li style="background: #aad5a7"></li>
                    <li style="background: #96cfa6"></li><li style="background: #009577"></li>
                    <li style="background: #006347"></li><li style="background: #4a746a"></li>
                    <li style="background: #595a4a"></li><li style="background: #7c7853"></li>
                    <li style="background: #a9a160"></li><li style="background: #aba082"></li>
                    <li style="background: #d9cb8e"></li><li style="background: #f0d061"></li>
                    <li style="background: #fddb5f"></li><li style="background: #ffe864"></li>
                    <li style="background: #ffc466"></li><li style="background: #f5b83b"></li>
                    <li style="background: #e65272"></li><li style="background: #d71345"></li>
                    <li style="background: #d12853"></li><li style="background: #843554"></li>
                    <li style="background: #a74a45"></li><li style="background: #7e584b"></li>
                    <li style="background: #c06842"></li><li style="background: #f36c32"></li>
                    <li style="background: #f47b50"></li><li style="background: #f89146"></li>
                </ul>
                <div class="row" id="colorHistory">
                    <span class="sub-title">HISTORY</span>
                    <ul class="row">
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                        <li style="background: #10263b"></li><li style="background: #1f478d"></li>
                    </ul>
                </div>
            </div>
            <div class="strech border m-20 p-20">
                <h5 class="title"><strong>SIZE</strong></h5>
                <div class="row-center strech">
                    <input type="range" min="1" max="10" list="tickmarks" value="0">
                    <datalist id="tickmarks">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                        <option value="6">
                        <option value="7">
                        <option value="8">
                        <option value="9">
                        <option value="10">
                    </datalist>
                </div>
            </div>
            <div class="strech border m-20 p-20">    
                <h5 class="title"><strong>TITLE</strong></h5>
                <mat-form-field class="strech row-center">
                    <mat-select placeholder="SELECT TITLE">
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
    </div>
    
</div>