<!-- GRAPH -->
<div id="graphCard" class="col strech">    
    <div #progressBar style='visibility:hidden;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>

    <!-- Graph content -->
    <div class="row strech">
        <div class="row row-side strech">
            <div class="strech">
                <div id="meta-canvas" class="graph-canvas strech border" #divCanvas
                [style.height.px]="graphDivStyleHeightValue" [style.height.px]="graphDivStyleWidthValue"></div>
                <nav>
                    <ng-container *ngIf="!!selectedElement">
                        <div id="slide-toggle" class="slide">
                            <ul class="list list-sm border col strech">
                                <li class="row-center">
                                    <h4>DATA <strong>INFO</strong></h4>
                                    <mat-slide-toggle *ngIf="selectedElement.isNode()" #nodeLockSlideToggle
                                    [checked]="selectedElement.locked()" (change)="selectedLockToggle(selectedElement)" matTooltip="Location Rock">
                                    </mat-slide-toggle>
                                </li>
                                <li><span>Label</span>{{ selectedElement.data('label') }} [{{ selectedElement.id() }}]</li>
                                <li><span>Name</span>{{ selectedElement.data('name') }}</li>
                                <li class="col strech">
                                    <span>Data</span>
                                    <div class="json strech m-10"><pre [innerHtml]="selectedElement.data('props') | prettyjson:3"></pre></div>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </nav>
                <!-- Graph.Meta : Labels content -->
                <mat-chip-list id="agens-graph-labels">
                    <mat-chip *ngFor="let label of labels" [selected]="true"
                        (click)="clickGraphLabelChip(label.type, label.name)" [style.background]="label.scratch['_style'].color">
                        <span *ngIf="label.type=='nodes'" class="nodeType">{{label.name}} ({{label.size}})</span>
                        <span *ngIf="label.type=='edges'" class="edgeType">{{label.name}} ({{label.size}})</span>
                    </mat-chip>
                </mat-chip-list>
            </div>
             <!-- Graph.Meta : toolbar -->
            <div class="row">
                <div class="viewbox">
                    <div class="scroll-hide">
                        <ul class="col list list-sm palette palette-color">
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                            <li><a></a></li>
                        </ul>
                    </div>
                </div>
                <div id="agens-graph-toolbar" class="viewbox border strech">
                    <div class="scroll-hide">
                        <ul>
                            <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                                    <mat-icon>refresh</mat-icon></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>