<div id="top" class="content scrollbar">
  <div class="card"> 
      <div class="card__icon-group">
          <a matTooltip="Refresh" matTooltipPosition="above" (click)="loadLogs()"><mat-icon>refresh</mat-icon></a>
      </div>

      <h2>History <small>"Query Logs"</small></h2>
    
      <div class="div__search wrapped-box-flex">
        <span><i class="fa fa-search" aria-hidden="true"></i><input
          type='text'            
          placeholder='Type to filter the userIP column...'
          (keyup)='updateFilter($event)'
        /></span>
      </div>
      <div class="datatable-box-padding wrapped-box-flex">
        <div #progressBar style='visibility:hidden;'>
          <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
        </div>
        
        <!-- (activate)="onActivateTableLabels($event)" -->
        <ngx-datatable #logsTable class='material' [columnMode]="'flex'"
                [rows]="logRows" [reorderable]="reorderable" [limit]="10"
                [headerHeight]="38" [footerHeight]="38" [rowHeight]="'auto'"
                >
  
          <ngx-datatable-row-detail [rowHeight]="auto" #queryRow (toggle)="onRowDetailToggle($event)" >
            <ng-template let-row="row" ngx-datatable-row-detail-template>
              <div>
                <div>
                  <span class="span__row-detail-content"><i class="fa fa-reply fa-rotate-180" aria-hidden="true"></i> {{ row[row._selectedColumn] }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>
          
          <ngx-datatable-column name="ID" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong>{{row.id}}</strong>
            </ng-template>
          </ngx-datatable-column>
<!--          
          <ngx-datatable-column name="user Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row.userName}}</span>
            </ng-template>
          </ngx-datatable-column>
-->          
          <ngx-datatable-column name="user IP" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row.userIp}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Query" [flexGrow]="4">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <button *ngIf="row.query" mat-icon-button matTooltip="Expand/Collapse Row"
                  (click)="toggleLogExpandRow(row, 'query')">
                <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
              </button>          
              <span>{{ (row.query.length > 36) ? (row.query | slice:0:36)+'..' : row.query }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="State" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row.state}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Message" [flexGrow]="3">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button *ngIf="row.query" mat-icon-button matTooltip="Expand/Collapse Row"
                (click)="toggleLogExpandRow(row, 'message')">
              <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
            </button>          
            <span>{{ (row.message.length > 20) ? (row.message | slice:0:20)+'..' : row.message }}</span>
          </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Start Time" [sortable]="true" prop="create_dt" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{ row.create_dt | date:'yyyy-MM-dd HH:mm:ss' }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="End Time" [sortable]="true" prop="update_dt" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{ row.update_dt | date:'yyyy-MM-dd HH:mm:ss' }}</span>
            </ng-template>
          </ngx-datatable-column>
  
        </ngx-datatable>
                
      </div>
  </div>
</div>
