<div id="top" class="content">
      <div class="card col flex-1">
        <div class="card-header row row-m row-space">
          <h4 class="row row-m"><mat-icon class="mr10">list_alt</mat-icon>HISTORY <strong> QUERY LOGS</strong></h4>  
          <div class='row row-m'>
            <a class="btn btn-link mr20" matTooltip="Refresh" matTooltipPosition="above" (click)="reload()"><mat-icon>refresh</mat-icon></a>
            
            <input
              style="width:15rem;"
              class="p10 border-bottom"
              type='text'            
              placeholder='Type to filter the userIP column...'
              (keyup)='updateFilter($event)'/>
            
          </div>
        </div>
        <div class="col flex-1">
          <div #progressBar style='visibility:hidden; z-index: 10; width: 100%;'>
            <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
          </div>
          
          <!-- (activate)="onActivateTableLabels($event)" -->
          <ngx-datatable #logsTable class="material flex-1" [columnMode]="'flex'"
                  [rows]="logRows" [reorderable]="'reorderable'" [limit]="9"
                  [headerHeight]="48" [footerHeight]="48" [rowHeight]="'auto'"
                  >

            <ngx-datatable-row-detail [rowHeight]="'auto'" #queryRow (toggle)="onRowDetailToggle($event)" >
              <ng-template let-row="row" ngx-datatable-row-detail-template>
                <div>
                  <span class="expand-cell">{{ row[row._selectedColumn] }}</span>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column name="ID" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.id}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="user IP" [flexGrow]="2">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.userIp}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Query" [flexGrow]="4">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <button disableRipple *ngIf="row.query" mat-icon-button matTooltip="Expand/Collapse Row" 
                    (click)="toggleLogExpandRow(row, 'query')">
                  <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
                </button>          
                <span *ngIf="row.query">{{ (row.query.length > 36) ? (row.query | slice:0:36)+'..' : row.query }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="State" [flexGrow]="2">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.state}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Message" [flexGrow]="3">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <button disableRipple *ngIf="row.message" mat-icon-button matTooltip="Expand/Collapse Row" 
                    (click)="toggleLogExpandRow(row, 'message')">
                  <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
                </button>          
                <span *ngIf="row.message">{{ (row.message.length > 20) ? (row.message | slice:0:20)+'..' : row.message }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Start Time" [sortable]="true" prop="create_dt" [flexGrow]="2">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{ row.create_dt | date:'yyyy-MM-dd HH:mm:ss' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="End Time" [sortable]="true" prop="update_dt" [flexGrow]="2">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{ row.update_dt | date:'yyyy-MM-dd HH:mm:ss' }}</span>
              </ng-template>
            </ngx-datatable-column>
    
          </ngx-datatable>
                  
        </div>
      </div>
</div>
