<div id="graphCard" class="col flex-1">
  
    <div id="progressBarStatGraph" #progressBar style='visibility:hidden; z-index: 10; width: 100%;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>

    <!-- Graph content -->
    <div class="p20 row flex-1">
        <div class="border col flex-4">
            <div class="col flex-1">
                <div id="statistics-canvas" #divCanvas class="graph-canvas flex-1"></div>
            </div>
            <div class="col flex-1 sidebar">
                <ngx-datatable #tableProperties class="material flex-1"
                [columnMode]="'force'" [limit]="200"
                [rows]='tablePropertiesRows' [columns]='tablePropertiesColumns'
                [footerHeight]="48" [rowHeight]="'auto'"
                [selected]="selectedProperties" [selectionType]="'single'"
                (select)="onSelectProperty($event)"
                >
                <!-- <ngx-datatable-column name="Type" [width]="40"></ngx-datatable-column>
                <ngx-datatable-column name="ID" [width]="20"></ngx-datatable-column>
                <ngx-datatable-column name="Name" ></ngx-datatable-column>
                <ngx-datatable-column name="Size" [width]="40">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.size | number}}</span>
                    </ng-template>
                </ngx-datatable-column> -->
                </ngx-datatable>
            </div>
        </div> 

        <div class="col ml20 flex-1">
            <div class="border p20 flex-1">
                <h5 class="mb10"><strong>Chart</strong></h5>
                <div id="div-d3-chart" class="overflow-x" #divD3Chart style="width: 100%; height: 196px;">
                </div>
            </div>
    
            <div class="border p20 mt20">
                <h5><strong>Descriptive Statistics</strong> (type:{{propDescStat.type}})</h5>
                <p class="subtit">NOTE: In case of categorical data, statistics present freqeuncy distribution.</p>
                
                <table>
                    <thead>
                        <tr>
                            <th>n</th>
                            <th>min</th>
                            <th>max</th>
                            <th>mean</th>
                            <th>median</th>
                            <th>stdev</th>
                            <th>skew</th>
                            <th>kurt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{propDescStat.n}}</td>
                            <td>{{propDescStat.min}}</td>
                            <td>{{propDescStat.max}}</td>
                            <td>{{propDescStat.mean}}</td>
                            <td>{{propDescStat.median}}</td>
                            <td>{{propDescStat.stdev}}</td>
                            <td>{{propDescStat.skew}}</td>
                            <td>{{propDescStat.kurt}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- <div>
                    <span>n = {{propDescStat.n}}</span>, &nbsp;
                    <span>min = {{propDescStat.min}}</span>, &nbsp;
                    <span>max = {{propDescStat.max}}</span>, &nbsp;<br />
                    <span>mean = {{propDescStat.mean}}</span>, &nbsp;
                    <span>median = {{propDescStat.median}}</span>, &nbsp;<br />
                    <span>stdev = {{propDescStat.stdev}}</span>, &nbsp;
                    <span>skew = {{propDescStat.skew}}</span>, &nbsp;
                    <span>kurt = {{propDescStat.kurt}}</span>, &nbsp;
                </div> -->
            </div>
        </div>
        
    </div>
    
</div>    
