.row-side { 
  flex: 2.5
}

.bar{
  fill: steelblue;
}

.bar:hover{
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
