.on-btn {
  background-color: '#585858';
  color: '#eee';
}

.off-btn {
  background-color: '#eee';
  color: '#585858';
}

.side-short-component { 
  height: auto; 
  top: 20px; 
  bottom: initial; 
}
