  <!-- GRAPH -->
  <div id="graphCard" class="col strech">
    <div #progressBar style='visibility:hidden;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>
    <!-- Graph content -->
    <div class="row strech">
        <div class="strech">
            <div id="graph-canvas" class="graph-canvas strech border" #divCanvas 
                [style.height.px]="graphDivStyleHeightValue" [style.height.px]="graphDivStyleWidthValue"></div>
            <!-- graph element info Box -->
            <nav>
                <ng-container *ngIf="!!selectedElement">
                    <div id="slide-toggle" class="slide border col">
                        <div class="row-center">
                            <h4>DATA <strong>INFO</strong></h4>
                            <mat-slide-toggle *ngIf="selectedElement.isNode()" #nodeLockSlideToggle
                            [checked]="selectedElement.locked()" (change)="selectedLockToggle(selectedElement)" matTooltip="Location Rock">
                            </mat-slide-toggle>
                        </div>
                        <ul class="list col strech border noborder m-10">
                            <li class="side-margin"><span>Label</span>{{ selectedElement.data('label') }} [{{ selectedElement.id() }}]</li>
                            <li class="side-margin"><span>Name</span>{{ selectedElement.data('name') }}</li>
                            <li class="col strech side-margin">
                                <span>Data</span>
                                <div class="json strech m-10"><pre [innerHtml]="selectedElement.data('props') | prettyjson:3"></pre></div>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-container *ngIf="btnStatus.searchPath">
                    <div id="slide-toggle" class="slide">
                        <ul class="list list-sm col strech">
                            <li class="row-center">
                                <h4>Search <strong>Path</strong></h4>
                                <li class="col strech">
                                    <span>Start Node</span>
                                    <span>End Node</span>
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </nav>
                <!-- Graph.Meta : Labels content -->
            <mat-chip-list id="agens-graph-labels">
                <mat-chip *ngFor="let label of labels" [selected]="true"
                    (click)="clickGraphLabelChip(label.type, label.name)" [style.background]="label.scratch['_style'].color">
                    <span *ngIf="label.type=='nodes'" class="nodeType">{{label.name}} ({{label.size}})</span>
                    <span *ngIf="label.type=='edges'" class="edgeType">{{label.name}} ({{label.size}})</span>
                </mat-chip>
            </mat-chip-list>
        </div>
        <!-- Graph.Meta : toolbar -->
        <div id="agens-graph-toolbar" class="viewbox border theme">
            <div class="scroll-hide">
            <ul class="list icon border noborder">
                <li><a [ngClass]="{ 'disabled-btn': isLoading, 'is-active': btnStatus.mouseWheel, 'is-inactive': !btnStatus.mouseWheel }" id="btnMouseWheelZoom" mat-button-toggle #btnMouseWheelZoom (click)="toggleMouseWheelZoom()" matTooltip="Mouse Wheel Zoom" matTooltipPosition="above">
                        <mat-icon id="btnMouseWheelZoomIcon">mouse</mat-icon></a>
                </li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" id="btnHighlightNeighbors" mat-button-toggle #btnHighlightNeighbors (click)="toggleHighlightNeighbors()" matTooltip="Highlight Neighbors" matTooltipPosition="above">
                        <mat-icon id="btnHighlightNeighborsIcon">grain</mat-icon></a>
                </li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" id="btnResultSearch" mat-button-toggle #btnResultSearch (click)="openSearchResultDialog()" matTooltip="Search in result" matTooltipPosition="above">
                        <mat-icon>search</mat-icon></a>
                </li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" [matMenuTriggerFor]="layoutMenu" matTooltip="LAYOUT" matTooltipPosition="above"><mat-icon>web</mat-icon></a>
                    <mat-menu #layoutMenu="matMenu" [attr.x-position]="before" [attr.y-position]="below">
                        <div td-menu-header>
                            <h4 class="mat-subhead">LAYOUT <strong>TYPE</strong></h4>
                        </div>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('random')">RANDOM</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('grid')">GRID</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('breadthfirst')">BREADTHFIRST</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('concentric')">CONCENTRIC</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('cola')">COLA</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('cose')">COSE (nodes.size &lt; 400)</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('cose-bilkent')">COSE-BILKENT (very slow)</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('dagre')">DAGRE (hierachy)</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphChangeLayout('klay')">KLAY</button>
                    </mat-menu>
                </li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" [matMenuTriggerFor]="centralityMenu" matTooltip="Centrality" matTooltipPosition="above">
                    <mat-icon>surround_sound</mat-icon></a>
                    <mat-menu #centralityMenu="matMenu" [attr.x-position]="before" [attr.y-position]="below">
                        <div td-menu-header>
                            <h4 class="mat-subhead">Centrality <strong>methods</strong></h4>
                        </div>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphCentrality('degree')">Degree</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphCentrality('pagerank')">PageRank</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphCentrality('closeness')">Closeness</button>
                        <mat-divider></mat-divider>
                            <button mat-menu-item (click)="graphCentrality('betweenness')">Betweenness</button>
                    </mat-menu>
                </li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" (click)="openLabelStyleSettingDialog()" matTooltip="Styling Label" matTooltipPosition="above">
                        <mat-icon>palette</mat-icon></a>
                </li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" (click)="openImageExportDialog()" matTooltip="Image Export" matTooltipPosition="above">
                        <mat-icon>image</mat-icon></a>
                </li>
                <li><a (click)="showClusters()" matTooltip="show Clusters" matTooltipPosition="above">
                    <mat-icon>view_quilt</mat-icon></a>
                </li>
                <li><a (click)="searchPath()" matTooltip="search Path" matTooltipPosition="above">
                    <mat-icon>timeline</mat-icon></a>
                </li>
                <li><a (click)="frindCircle()" matTooltip="find Circle" matTooltipPosition="above">
                    <mat-icon>youtube_searched_for</mat-icon></a>
                </li>
                <li><a (click)="playTimeline()" matTooltip="play Timeline" matTooltipPosition="above">
                    <mat-icon>fast_forward</mat-icon></a>
                </li>
                <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                        <mat-icon>refresh</mat-icon></a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>