.on-btn {
  background-color: '#585858';
  color: '#eee';
}

.off-btn {
  background-color: '#eee';
  color: '#585858';
}

#graphCard { overflow: hidden; }

.sidebar { top: 1.25rem; right: 1.25rem; }

.side-short-component { 
  height: auto; 
  top: 20px; 
  right: 20px; 
  bottom: initial; 
}

#colorPalette {    
    padding-bottom: 1.25rem; 
    margin-bottom: 1.25rem; 
    align-content: flex-start; 
    overflow-y: auto;     
    li { 
        width: 1.25rem; 
        height: 1.25rem; 
        margin-right: .325rem; 
        margin-bottom: .325rem; 
        border-radius: .125rem; 
        cursor: pointer;
        position: relative; 

        &.checked { 
            opacity: .2 !important;
            &::before { 
                content:''; 
                display: block; 
                width: .625rem; 
                height: .5rem; 
                border-left: .1875rem solid black; 
                border-bottom: .1875rem solid black; 
                transform: rotate(-45deg); 
                position: absolute; 
                top: -.25rem; 
                bottom: 0; 
                left: 0; 
                right: 0; 
                margin: auto; 
            }
        }
    }
}

ul li a:hover, ul li a:focus {  
  color:#fff;  
  border:1px solid #f40;  
  background-color:#f40;  
}  