.CodeMirror {
  border: 1px solid black;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}

.card {
form {         
    font-size: 0.855rem;     
    padding: 1rem 0.65rem;        
}

.card__graphdata-foot { 
    display: flex; 
    border-top: 1px solid #ccc; 

    span { 
        background-color: #eee; 
        width: 80px; 
        display: flex; 
        justify-content: center; 
        align-items: center;             
        border-right: 1px solid #ccc; 
        font-size: 0.766rem; 
        font-weight: 700; 
        color: #585858;
    }

    form { 
        flex-grow: 2; 
        padding: .4rem 0; 

        textarea { 
            width: 99.8%;
            min-height: 26px;                              
            padding-left: 1rem;
            vertical-align: middle;                  
            outline: none; 
            resize: none; 
            box-sizing: border-box; 
            font-size: .815rem; 
            color: #383838; 
            border: none;
        }
    }
}

.card__graphdata-graph-info { 
    background-color: #efefef; 
    width: 320px; 
    height: 100%;         
    padding: 1rem 1.2rem 0;
    box-sizing: border-box;  
    border-left: 1px solid #ccc; 
    position: absolute;
    right: 0;
    overflow-y: auto; 
    z-index: 1; 
    font-size: .815rem;
    color: #484848;         
    
    mat-slide-toggle {
        margin-bottom: 1rem; 
        padding-left: 8rem;
        padding-bottom: 2rem;
        box-sizing: border-box;  
        border-bottom: 1px solid #ccc; 
        display: block;

        span { 
            font-size: .85rem; 
        }
    }
    
    h4 { 
        margin-bottom: .35rem; 
        font-size: .75rem; 
        text-transform: uppercase; 
    }

    p { 
        margin-bottom: .48rem; 
        font-size: .79rem; 
    }

    pre { 
        border: 1px solid #ccc; 
    }
}

.card__graphdata-graph-label {
    width: 96%; 
    position: absolute;
    left: 1rem; 
    bottom: .6rem;  
    z-index: 1;

    mat-chip { 
        background-color: none !important;
        padding: .18rem .4rem; 
        border-radius: .225rem; 
        line-height: 10px; 
        font-size: 12px; 
        font-family: "Montserrat", sans-serif; 
        font-weight: 700; 
        color: #fff; 
        cursor: pointer; 
        span {
            display: flex; 
            align-items: center; 

            .material-icons { 
                font-size: 21px; 
                margin-right: 4px; 
                }
        }
        
    }     
}
} 

.gra_content { 
width: 100%; height: 600px; position: relative; background-color: white; overflow: hidden; 
} 


.card-graphdata-json {     
max-height: 466.5px; 
margin-left: 1px; 
overflow: hidden; 
position: relative; 

mat-card-content { 
    max-height: 426px;            
    display: block; 
    overflow-y: auto; 

    div { 
        background-color: #eee;                       
        position: absolute; 
        top: 0; 
        right: 0; 
        color: #585858; 

        a {
            display: inline-block; 
            padding: 10.5px .8rem; 
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            color: #585858; 

        }

        h5 { 
            display: inline-block; 
            padding: 10px 2rem;  

            i { 
                margin-right: 8px; 
            }
        }
    }
    

    pre { 
        padding: 1rem 1rem 0; 
    }
}
}


pre {
white-space: pre-wrap; 
margin-top: .6rem; 
padding: .5rem .8rem;     
box-sizing: border-box; 
color: #585858; 
}

:host /deep/ {
font-size: .815rem; 

.datatable-body-cell {
    &:nth-child(5), &:nth-child(6) { 
        cursor: pointer; 
    }

    .datatable-body-cell-label {  
        line-height: 34px !important;         
    }
}

.string { 
    font-size: .715rem; 
    color: #85bf4f;
    
    &::before { 
        content:'string';
        background-color: #95d45b; 
        display: inline-block; 
        margin-right: 4px; 
        padding: 1px 4px; 
        border-radius: .225rem; 
        font-size: .515rem; 
        font-family: "Montserrat", sans-serif;             
        color: white; 
    }

}
.number { 
    font-size: .815rem; 
    color: #dc9691; 

    &::before { 
        content:'number';
        background-color: #dc9691; 
        display: inline-block; 
        margin-right: 4px; 
        padding: 1px 4px; 
        border-radius: .225rem; 
        font-size: .515rem; 
        font-family: "Montserrat", sans-serif;             
        color: white; 
    }
}
.boolean { 
    font-size: .815rem; 
    color: #a683eb; 

    &::before { 
        content:'boolean';
        background-color: #a683eb; 
        display: inline-block; 
        margin-right: 4px; 
        padding: 1px 4px; 
        border-radius: .225rem; 
        font-size: .515rem; 
        font-family: "Montserrat", sans-serif;             
        color: white; 
    }
}
.null { 
    font-size: .815rem; 
    color: #496169; 

    &::before { 
        content:'null';
        background-color: #496169; 
        display: inline-block; 
        margin-right: 4px; 
        padding: 1px 4px; 
        border-radius: .225rem; 
        font-size: .515rem; 
        font-family: "Montserrat", sans-serif;             
        color: white; 
    }
}
.key {
    font-size: .815rem; 
    color: #31507d;         
}
}
