<!-- GRAPH -->
<div id="graphCard" class="col flex-1">
    <div id="progressBarSheet" #progressBar style='visibility:hidden;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>
    <!-- Graph content -->
    <div class="col flex-1 p20 sheet-bottom">
        <div class="row row-space row-m">
            <h4>Styling by <strong>label</strong></h4>
            <ul class="sheet btn-group">
                <li><a class="btn btn-link" (click)="close()" matTooltip="Close" matTooltipPosition="above">
                    <mat-icon>close</mat-icon></a></li>
            </ul>
        </div>
        <div class="row flex-1 mt10">
            <div class="row flex-5 mr20 border">
                <div class="col flex-1">
                    <div id="meta-canvas" class="graph-canvas flex-1" #divCanvas></div>
                </div>
                    <!-- Graph.Meta : toolbar -->
                <div class="row">
                    <div id="agens-graph-toolbar" class="box-view shadow-none flex-1">                    
                        <div class="box-scroll">
                            <div class="box-content">
                                <div class="btn-group btn-group-v">
                                    <a class="btn btn-icon" (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                                            <mat-icon>refresh</mat-icon></a>
                                    <a class="btn btn-icon" (click)="restoreStyles()" matTooltip="Style restore" matTooltipPosition="above">
                                            <mat-icon>settings_backup_restore</mat-icon></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col flex-2">
                <div class="border p20 row row-space">
                    <h5><strong>Visibility </strong></h5>
                    <mat-slide-toggle [(ngModel)]="selectedStyle.visible" matTooltip="Visibility"
                        (change)="onChangeStyleVisible($event)">
                    </mat-slide-toggle>
                </div>
                <div class="col flex-1 border mt20 p20 color-box">
                    <h5><strong>COLOR </strong></h5>
                    <div class="col mt20 flex-1" id="colorPalette">
                        <ul class="row wrap">
                            <li *ngFor="let c of colors; let i = index" [attr.data-index]="i"
                                [style.background-color]="c.bc" (click)="onChangeStyleColor(i)"
                                [style.border-color]="'black'"
                                [style.border-width]="(selectedStyle.color.bc == c.bc) ? '2px' : '0px'"
                                ></li>
                        </ul>
                    </div>
                    <div>
                        <h6 class="row row-space">Select Color : <span>rgb(255,255,255)</span></h6>
                    </div>
                </div>
                <div class="border mt20 p-side row row-space row-m">
                    <h5 class="mr20"><strong>SIZE </strong></h5>
                    <mat-slider name="labelSize" class="flex-1 p-no" [formControl]="labelSizeCtl"
                                [min]="labelSizeRange.min" [max]="labelSizeRange.max" [step]="labelSizeRange.step" 
                                [value]="labelSizeRange.value" [thumbLabel]="true"
                                (change)="onChangeStyleWidth($event)">
                    </mat-slider>
                </div>
                <div class="border mt20 pl20 pr20 row row-space row-m">    
                    <h5 class="mr20"><strong>TITLE </strong></h5>
                    <mat-form-field class="flex-1">
                        <mat-select name="labelName" [formControl]="labelNameCtl" [value]="selectedStyle.title"
                                    (selectionChange)="onChangeStyleTitle($event)" required>
                        <mat-option value="_null_">_NONE_</mat-option>
                        <mat-option *ngFor="let prop of selectedProperties" [value]="prop.key">{{ prop.key }}</mat-option>
                        </mat-select>
                    </mat-form-field>                
                </div>
                <div class="mt20 col"><button mat-raised-button color="primary" [disabled]="!selectedElement || !isChanged" 
                        (click)="close()">Apply</button></div>
        </div>
       
    </div>
    
</div>