<div class="col flex-1 p20">
              
    <div class="dialog-tit">
        <span><mat-icon>vertical_split</mat-icon></span>
        <h4>Cell <strong>Value</strong></h4>
    </div>
    <div class="dialog-subtit row-m row-space">
        <p>You can see the data in the table in a different style, <br/>and you can right-click to copy the data</p>
        <button mat-flat-button color="primary" (click)="copyCellValue()" matTooltip="Copy to clipboard" matTooltipPosition="above">
            COPY</button>
    </div>
        <!-- <a (click)="close()" matTooltip="Close" matTooltipPosition="above">
        <mat-icon>close</mat-icon></a> -->
    
    <!-- " *ngIf="isJsonCell" -->
    <div id="tableCell" #tableCell class="json flex-1 p20 border">
        <div class="scrollbar">
            <!-- 
                JSON Pretty formatter
                https://www.npmjs.com/package/angular2-prettyjson
            -->            
            
            <pre id="cellValue" [innerHtml]="cellValue | prettyjson:3"></pre>
        </div> 
    </div>    
</div>

