<!-- GRAPH -->
<div id="graphCard" class="col strech">
    <div id="progressBarMetaGraph" #progressBar style='visibility:hidden;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>

    <!-- Graph content -->
    <div class="row strech">
        <div class="row strech row-side">
            <div class="col strech">
                <!-- graph canvas -->
                <div id="meta-canvas" class="graph-canvas strech border" #divCanvas></div>
                <nav>
                <!-- 출력상자 : 상세 정보 -->
                <ng-container *ngIf="!!selectedElement">
                    <div id="slide-toggle" class="slide border col">
                        <div class="row-center">
                            <h4>Label <strong>info.</strong></h4>
                        </div>
                        <ul class="list col strech border noborder m-10">
                            <li class="side-margin"><span>Label</span>{{ selectedElement.data('label') }} [{{ selectedElement.id() }}]</li>
                            <li class="side-margin"><span>Name</span>{{ selectedElement.data('name') }}</li>
                            <li class="col strech side-margin">
                                <span>Properties</span>
                                <div class="json strech m-10" *ngIf="selectedProps">
                                    <form [formGroup]="formGrp" (ngSubmit)="submitFormGroup()">
                                        <label formArrayName="conditions" *ngFor="let prop of formGrp.controls.conditions.controls; let i = index">
                                            <input type="checkbox" [formControlName]="i">
                                            {{ selectedProps[i] }}
                                        </label>
                                        <button>submit</button>
                                    </form>                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                </nav>
            </div>
             <!-- Graph.Meta : toolbar -->
            <div class="row">
                <div id="agens-graph-toolbar" class="viewbox border strech theme">                    
                    <ul class="list icon border noborder">
                        <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                                <mat-icon>refresh</mat-icon></a></li>
                        <li><a (click)="unfoldProperties()" matTooltip="unfold Properties" matTooltipPosition="above">
                                <mat-icon>unfold_more</mat-icon></a></li>
                        <li><a (click)="foldProperties()" matTooltip="fold Properties" matTooltipPosition="above">
                                <mat-icon>unfold_less</mat-icon></a></li>
                        <li><a (click)="close()" matTooltip="Close" matTooltipPosition="above">
                                <mat-icon>close</mat-icon></a></li>
                    </ul>
                </div>
            </div>
        </div>    
        <div class="col strech">
            <div class="strech border p-20">    
                <div class="row-center">
                    <h4>groupBy, filterBy</h4>
                </div>
                <div class="json strech m-10" *ngIf="selectedElement">
                    <ul *ngIf="selectedLabel">
                        <li *ngFor="let item of selectedConditions">
                            <span>{{ item.label }}</span><span>{{ item.property }}</span>
                            <button>Del</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col m-20">
                <button class="strech" mat-raised-button color="primary" [disabled]="!isChanged"
                (click)="close()">Reload</button>
            </div>                
        </div>        
    </div>
</div>