<div id="graphCard" class="col strech">
  
    <div #progressBar style='visibility:hidden;'>
        <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
    </div>

    <!-- Graph content -->
    <div class="row strech">
        <div class="row row-side strech">
            <div class="strech">
                <div id="statistics-canvas" #divCanvas class="graph-canvas strech border" 
                    [style.height.px]="graphDivStyleHeightValue" [style.height.px]="graphDivStyleWidthValue">
                </div>
                <!-- graph element info Box -->
                <nav>
                    <ng-container *ngIf="selectedElement">
                        <div id="slide-toggle" class="slide">                          
                            <ul class="list list-sm border col strech">
                                <li class="row-center">
                                    <h4>DATA <strong>INFO</strong></h4>
                                    <mat-slide-toggle *ngIf="selectedElement.isNode()" #nodeLockSlideToggle
                                    [checked]="selectedElement.locked()" (change)="selectedLockToggle(selectedElement)" matTooltip="Location Rock">
                                    </mat-slide-toggle>
                                </li>
                                <li><span>Label</span>{{ selectedElement.data('label') }} [{{ selectedElement.id() }}]</li>
                                <li><span>Name</span>{{ selectedElement.data('name') }}</li>
                                <li class="col strech">
                                    <span>Data</span>
                                    <div class="json strech m-10"><pre [innerHtml]="selectedElement.data('props') | prettyjson:3"></pre></div>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </nav>
                <!-- Graph.Meta : Labels content -->
                <mat-chip-list id="agens-graph-labels">
                    <mat-chip *ngFor="let label of labels" [selected]="true" 
                        (click)="clickGraphLabelChip(label.type, label.name)" [style.background]="label.scratch['_style'].color">
                        <span *ngIf="label.type=='nodes'" class="nodeType">{{label.name}} ({{label.size}})</span>
                        <span *ngIf="label.type=='edges'" class="edgeType">{{label.name}} ({{label.size}})</span>
                    </mat-chip>
                </mat-chip-list>
            </div>            
            <!-- Graph.Meta : toolbar -->
            <div id="agens-graph-toolbar" class="viewbox border border-left-no">
                <div class="slide-hide">
                    <ul class="list icon border noborder">
                        <li>
                            <a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above"><mat-icon>refresh</mat-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
        <div class="col strech">
            <div class="col-side strech border p-20">
                <h5><strong>CHART</strong> GRAPH</h5>
            </div>
            <div class="strech border p-20">
                <h5><strong>LINE</strong> GRAPH </h5>
            </div>
        </div>
    </div>
    
</div>    
