<!-- menu toolbar -->
<mat-toolbar id="appToolbar" class="row-center">   
    <h1>
        <!-- {{ productTitle }} -->
        AGENSBROWSER <small>WEB 1.3</small>
    </h1>
    <mat-button-toggle-group #btnMenuGroup="matButtonToggleGroup" [value]="currentPath">
        <mat-button-toggle #btnMenuMain value="/" disabled="{{ currentMenu=='main' }}" [routerLink]="['/']">
            <a>SCHEMA</a>
        </mat-button-toggle>
        <mat-button-toggle #btnMenuGraph value="/graph" disabled="{{ currentMenu=='graph' }}" [routerLink]="['/graph']">
            <a>GRAPH</a>
        </mat-button-toggle>
        <mat-button-toggle #btnMenuHistory value="/history" disabled="{{ currentMenu=='history' }}" [routerLink]="['/history']">
            <a>HISTORY</a>
        </mat-button-toggle>
        <mat-button-toggle value="show help-documents" matTooltipPosition="above" > 
            <a href="http://bitnine.net/documentation/" target="_new">DOCUMENTS</a>
        </mat-button-toggle>
        <mat-button-toggle>
            <a matTooltip="Homepage" matTooltipPosition="above" href="http://bitnine.net/" target="_new"><mat-icon>home</mat-icon></a>
        </mat-button-toggle>
        
    </mat-button-toggle-group>
    <!-- <button id="button-logout" mat-button (click)="logout()">logout</button> -->

</mat-toolbar>

<!-- sub-pages -->
<router-outlet></router-outlet>
