mat-toolbar { 
    background: linear-gradient(to right, #005aa8, #6585C2); 
    width: calc(100% - 2.5rem); 
    padding: 0 1.25rem; 
    margin: auto; 
    border-radius: 0 0 .325rem .325rem; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    h1 { 
        font-size: 1.125rem; 
        color: #fff; 
        
        small { 
            font-size: .75rem; 
            font-weight: 400; 
        }
    }

    mat-icon { color: rgba(255, 255, 255, 0.4); }
}
