mat-toolbar { 
    background: linear-gradient(to top, #005aa8, #6585C2); 
    padding: 0 1.25rem; 
    h1 { 
        font-size: 1.125rem; 
        color: #fff; 
        
        small { 
            font-size: .75rem; 
            font-weight: 400; 
        }
    }
}
