<div id="top" class="content col">

  <!-- editor -->
    <div id="queryCard">
        <div class="row-center">
            <h4>QUERY <strong>EDITOR </strong> <small> (CYPHER OR ANSI-SQL)</small></h4>
            <ul class="row icon list inline">
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" (click)="runQuery()">RUN</a></li>
                <li><a [ngClass]="{ 'disabled-btn': !isLoading }" (click)="stopQuery()">STOP</a></li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" (click)="clearProject()">NEW</a></li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" (click)="openProjectOpenDialog()">IMPORT</a></li>
                <li><a [ngClass]="{ 'disabled-btn': isLoading }" (click)="openProjectSaveDialog()">SAVE</a></li>
            </ul>
        </div>
        
        <p></p>
        <!-- REQUEST : cypher query -->
        <form class="border m-20 p-20 border-dashed">
            <textarea
            id="agensQuery" #queryEditor type="text" name="query"
            (change)="query=agensQuery.value" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
        </form>

        <!-- RESULT : progress-bar & message -->
        <app-query-result #queryResult></app-query-result>
    </div>

    <mat-tab-group #resultTapGroup [selectedIndex]="1" class="m-20 strech md-no-animation"
        (selectedTabChange)="tabChanged($event)" (animationDone)="tabAnimationDone()">
        <mat-tab label="Meta"> 
            <!-- META(0) -->
            <app-meta-graph #metaGraph></app-meta-graph>
        </mat-tab>
        <mat-tab label="Graph">
            <!-- GRAPH(1) -->
            <app-query-graph #queryGraph></app-query-graph>
        </mat-tab>
        <mat-tab label="Table" [disabled]="false"> 
            <!-- TABLE(2) -->
            <app-query-table #queryTable></app-query-table>
        </mat-tab>
        <mat-tab label="Statistic" [disabled]="false">
            <!-- STATIC(3) -->
            <app-statistics #statistics></app-statistics>
        </mat-tab>
    </mat-tab-group>
</div>

