<div id="top" class="content scrollbar">

  <!-- editor -->
  <div id="queryCard" class="card">
      <div class="card__icon-group">
          <a [ngClass]="{ 'disabled-btn': isLoading }" (click)="runQuery()"><span>Run</span> <mat-icon>play_arrow</mat-icon></a>
          <a [ngClass]="{ 'disabled-btn': !isLoading }" (click)="stopQuery()"><span>Stop</span> <mat-icon>stop</mat-icon></a>

          <a [ngClass]="{ 'disabled-btn': isLoading }" matTooltip="New project" matTooltipPosition="above" (click)="clearProject()"><mat-icon>add</mat-icon></a>
          <a [ngClass]="{ 'disabled-btn': isLoading }" matTooltip="Open project" matTooltipPosition="above" (click)="openProjectOpenDialog()"><mat-icon>folder_open</mat-icon></a>
          <a [ngClass]="{ 'disabled-btn': isLoading }" matTooltip="Save project" matTooltipPosition="above" (click)="openProjectSaveDialog()"><mat-icon>save</mat-icon></a>
      </div>
      <h2>Query <small>(cypher or ansi-sql)</small> </h2>
      <!-- REQUEST : cypher query -->
      <form>
      <textarea placeholder="input Cypher Query.." 
          id="agensQuery" #queryEditor type="text" 
          (change)="query=agensQuery.value" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
      </form>

      <app-query-result #queryResult></app-query-result>
  </div>

  <!-- GRAPH -->
  <app-query-graph #queryGraph [data]="resultGraph"></app-query-graph>

  <!-- TABLE -->
  <app-query-table #queryTable [data]="resultRecord"></app-query-table>

</div>

