<div id="top" class="content col">
    <div class="row strech">
        <div class="left-side row-side col">

            <div #progressBar style='visibility:hidden;'>
                <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
            </div>

            <div class="col strech card">       
                <div class="row-start">
                    <mat-icon class="m-r-10">bookmarks</mat-icon><h4>PL/Python <strong>Functions List</strong></h4>
                </div>
                
                <ngx-datatable #tablePlpy class="material m-20 strech"
                    [columnMode]="'force'" [limit]="10"
                    [rows]='tablePlpyRows' [columns]="tablePlpyColumns"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                    [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'
                    >
                </ngx-datatable>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="SQL Messages" disabled
                        [value]="sqlMessage"></textarea>
                  </mat-form-field>
          </div> 
        </div>
        <div class="right-side row strech" id="dashboard-canvas">
            <div class="col strech row-side card">
                <div class="row-start">
                    <mat-icon class="m-r-10">bubble_chart</mat-icon><h4>PL/Python <strong>Editor</strong></h4>
                </div>
                <div class="col strech m-20">
                    <!-- CodeMirror: Python editor -->
                    <form class="col edit-size strech">

                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Name" 
                              [value]="selectedPlpy ? selectedPlpy.name : ''" />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Arguments" 
                              [value]="selectedPlpy ? selectedPlpy.args_type : ''" />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Return" 
                              [value]="selectedPlpy ? selectedPlpy.rtn_type : ''" />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Leave a comment" 
                              [value]="selectedPlpy ? selectedPlpy.desc : ''"></textarea>
                        </mat-form-field>
  
                        <textarea
                        id="plpy-editor" #plpyEditor type="text" name="plpy" class="strech"
                        (change)="pycode=plpyEditor.value">
                        </textarea>
                    </form>

                    <div class="viewbox">
                        <div class="scroll-hide">
                            <ul class="list icon">
                                <li><a matTooltip="Create" matTooltipPosition="above" (click)="openInputCreateLabelDialog()"><mat-icon>add</mat-icon></a></li>
                                <li><a matTooltip="Edit" matTooltipPosition="above"><mat-icon>edit</mat-icon></a></li>
                                <li><a matTooltip="Expand" matTooltipPosition="above"><mat-icon>control_camera</mat-icon></a></li>
                                <li><a matTooltip="Delete" matTooltipPosition="above"><mat-icon>delete_outline</mat-icon></a></li>
                                <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                                    <mat-icon>refresh</mat-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col strech card">
                <div class="col strech" id="schemaList">
                    <h4>
                        <div class="row-start"><mat-icon class="m-r-10">info</mat-icon> <h4>PL/Python <strong>Help</strong></h4></div>
                    </h4>
                    <span class="block sub-title m-10 p-10">AgensGraph can support PL/Python. User can make custom-functions</span>
                    <ul class="list">
                        <li class="row-center p-no">
                            <div class="row-center">
                                <span class="subtitle">Find Topic</span> 
                            </div>                            
                            <div> xxx </div>
                        </li>
                        <li class="row-center p-no">
                            <div class="row-center">
                                <span class="subtitle">Contents</span> 
                            </div>
                            <div> yyy </div>
                        </li>
                    </ul>
                </div>
            </div>  -->

        </div>  
    </div>
</div>
