<div id="top" class="content col">
    <div class="row strech">
        <div class="left-side row-side col">

            <div #progressBar style='visibility:hidden;'>
                <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
            </div>

            <div class="col strech card">       
                <div class="row-start">
                    <mat-icon class="m-r-10">bookmarks</mat-icon><h4>PL/Python <strong>Functions List</strong></h4>
                </div>
                
                <ngx-datatable #tablePlpy class="material m-20 strech"
                    [columnMode]="'force'" [limit]="10"
                    [rows]='tablePlpyRows' [columns]="tablePlpyColumns"
                    [headerHeight]="40" [footerHeight]="40" [rowHeight]="40"
                    [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'
                    >
                </ngx-datatable>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="SQL Messages" readonly="true" mat-autosize="false"
                        [value]="sqlMessage"></textarea>
                  </mat-form-field>
          </div> 
        </div>
        <div class="right-side row strech" id="dashboard-canvas">
            <div class="col strech row-side card">
                <div class="row-start">
                    <mat-icon class="m-r-10">bubble_chart</mat-icon><h4>PL/Python <strong>Editor</strong></h4>
                </div>
                <div class="col strech m-20">
                    <!-- CodeMirror: Python editor -->
                    <form novalidate [formGroup]="procFormGrp" class="col edit-size strech">

                      <span>
                        <mat-form-field style="width:45%">
                          <input matInput placeholder="Name" [formControl]="procNameCtl" required />
                          <mat-error *ngIf="procNameCtl.hasError('pattern') || procNameCtl.hasError('required')">
                            Name has to <strong>start [a-zA-Z] char and length is 3~50</strong>
                          </mat-error>
                        </mat-form-field>
                        <span>&nbsp;&nbsp;</span>
                        <mat-form-field style="width:35%">
                          <mat-select [formControl]="procLangCtl" placeholder="Language" required>
                            <mat-option *ngFor="let lang of pglangs" [value]="lang">
                              {{lang}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </span>

                      <span>
                        <mat-form-field style="width:45%">
                          <input matInput [formControl]="procArgsCtl" placeholder="Arguments &lt;name,type&gt;" />
                          <mat-error *ngIf="procArgsCtl.hasError('pattern')">
                            Wrong arguments pattern: ex) a integer, b integer
                          </mat-error>
                        </mat-form-field>
                        <span>&nbsp;&nbsp;</span>
                        <mat-form-field style="width:45%">
                          <input matInput [formControl]="procRtnCtl" placeholder="Return &lt;type&gt;" />
                        </mat-form-field>
                      </span>

                      <mat-form-field class="example-full-width">
                        <textarea matInput [formControl]="procDescCtl" placeholder="Leave a comment"
                          mat-autosize="false"></textarea>
                        <mat-error *ngIf="procDescCtl.hasError('maxlength')">
                          Length of description has to be less than {{ MAX_DESC_SIZE }}
                        </mat-error>
                    </mat-form-field>

                      <textarea
                      id="plpy-editor" #plpyEditor type="text" name="plpy" class="strech">
                      </textarea>
                      <mat-error *ngIf="editor.getValue().trim().length == 0">
                        Source must be not empty!
                      </mat-error>
                  </form> 

                    <div class="viewbox">
                        <div class="scroll-hide">
                            <ul class="list icon">
                                <li><a matTooltip="New" (click)="newPlpy()" matTooltipPosition="before"><mat-icon>create</mat-icon></a></li>
                                <li><a matTooltip="Save" (click)="savePlpy()" matTooltipPosition="before"><mat-icon>save</mat-icon></a></li>
                                <li><a matTooltip="Delete" (click)="deletePlpy()" matTooltipPosition="before"><mat-icon>delete_outline</mat-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col strech card">
                <div class="col strech" id="schemaList">
                    <h4>
                        <div class="row-start"><mat-icon class="m-r-10">info</mat-icon> <h4>PL/Python <strong>Help</strong></h4></div>
                    </h4>
                    <span class="block sub-title m-10 p-10">AgensGraph can support PL/Python. User can make custom-functions</span>
                    <ul class="list">
                        <li class="row-center p-no">
                            <div class="row-center">
                                <span class="subtitle">Find Topic</span> 
                            </div>                            
                            <div> xxx </div>
                        </li>
                        <li class="row-center p-no">
                            <div class="row-center">
                                <span class="subtitle">Contents</span> 
                            </div>
                            <div> yyy </div>
                        </li>
                    </ul>
                </div>
            </div>  -->

        </div>  
    </div>
</div>
