<div id="top" class="content col">
    <div class="row strech">
        <div class="left-side row-side col">
            <div class="card" id="dataInfo">
                <div class="row-start">
                    <mat-icon class="m-r-10">data_usage</mat-icon><h4>DATA <strong>SOURCE</strong></h4>
                </div>                    
                <p class="sub-title p-10">AgensBrowser visualizes data as graphs and tables for easier, enhanced understanding and analyzing of data.</p>
                <ul class="list textover">
                    <li title={{infos.uri}} class="p-no"><span> URL</span>{{infos.uri}}</li>
                    <li title={{infos.name}} class="p-no"><span> NAME</span>{{infos.name}} (owner: '{{infos.owner}}')</li>
                    <li title={{infos.desc}} class="p-no"><span> DESC</span>{{infos.desc}}</li>
                </ul>
                <!--
                <div class="card-dash-number">
                    <p><span>Total NodeTypes</span><b>{{ infos.nodes_size_total }} ({{ infos.nodes_size_data }})</b></p>
                    <p><span>Total EdgeTypes</span><b>{{ infos.edges_size_total }} ({{ infos.edges_size_data }})</b></p>
                </div>
                -->
            </div>
    
            <div #progressBar style='visibility:hidden;'>
                <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
            </div>
    
            <div class="m-20 col strech card">       
                <div class="row-start">
                    <mat-icon class="m-r-10">bookmarks</mat-icon><h4>LABEL <strong>LIST</strong></h4>
                </div>
                
                <ngx-datatable #tableLabels class="material m-20 strech"
                    [columnMode]="'force'" [limit]="8"
                    [rows]='tableLabelsRows' [columns]='tableLabelsColumns'
                    [footerHeight]="48" [rowHeight]="'auto'"
                    [selected]="selectedLabels" [selectionType]="'single'"
                    (select)="onSelectTableLabels($event)"
                    >
                    <ngx-datatable-column name="Type" [width]="40"></ngx-datatable-column>
                    <ngx-datatable-column name="ID" [width]="20"></ngx-datatable-column>
                    <ngx-datatable-column name="Name" ></ngx-datatable-column>
                    <ngx-datatable-column name="Size" [width]="40">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{row.size | number}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Volume" [width]="40"></ngx-datatable-column> -->
                    <ngx-datatable-column name="Delete" [width]="20" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a (click)="openConfirmDeleteLabelDialog(row)" mdTooltip="Delete" mdTooltipPosition="before">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </ng-template>
                    </ngx-datatable-column>            
                </ngx-datatable>
            </div> 
        </div>
        <div class="right-side row strech" id="dashboard-canvas">
            <div class="col strech row-side">
                <div class="canvas-title row-start">
                    <mat-icon class="m-r-10">bubble_chart</mat-icon><h4>SCHEMA <strong>GRAPH</strong></h4>
                </div>
                <div class="row strech">
                    <div id="div-canvas" #divCanvas class="graph-canvas strech card p-no"></div>
                    <div class="viewbox">
                        <div class="scroll-hide">
                            <ul class="list icon">
                                <li><a (click)="createNode()" matTooltip="create NODE" matTooltipPosition="before"><mat-icon>add</mat-icon></a></li>
                                <li><a [ngClass]="{'checked':btnStatus.edge}" (click)="toggleEditEdge()" matTooltip="edit Schema" matTooltipPosition="before"><mat-icon>edit</mat-icon></a></li>
                                <li><a [ngClass]="{'checked':btnStatus.delete}" (click)="toggleDeleteElement()" matTooltip="Delete" matTooltipPosition="before"><mat-icon>delete_outline</mat-icon></a></li>
                                <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="before">
                                    <mat-icon>refresh</mat-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col strech">
                <div class="card col strech" id="schemaList">
                  <h4>
                      <div class="row-start"><mat-icon class="m-r-10">info</mat-icon> <h4>Label <strong>Info.</strong></h4></div>
                  </h4>
                  <form class="list">
                    <mat-form-field class="row-center p-no">
                      <input matInput placeholder="Label TYPE" readonly="true" 
                        [value]="selectedLabel ? selectedLabel.type : ''">
                    </mat-form-field>
                    <mat-form-field class="row-center p-no">
                      <input matInput placeholder="Label ID" readonly="true" 
                        [value]="selectedLabel ? selectedLabel.id : ''">
                    </mat-form-field>
                    <mat-form-field class="row-center p-no">
                      <input matInput id="labelNameCtl" placeholder="Label NAME" required
                        (change)="changeLabelValues($event.target)" style="border: 2px solid red"
                        [value]="selectedLabel ? selectedLabel.name : ''" >
                    </mat-form-field>
                    <mat-form-field class="row-center p-no">
                      <input matInput placeholder="Label OWNER" readonly="true" 
                        [value]="selectedLabel ? selectedLabel.owner : ''">
                    </mat-form-field>
                    <mat-form-field class="row-center p-no">
                      <input matInput placeholder="Label SIZE" readonly="true" 
                        [value]="selectedLabel ? selectedLabel.size : ''">
                    </mat-form-field>
                    <mat-form-field class="row-center p-no">
                      <input matInput placeholder="Label VOLUME" readonly="true" 
                        [value]="selectedLabel ? selectedLabel.volume : ''">
                    </mat-form-field>
                    <mat-form-field class="row-center p-no">
                      <textarea matInput id="labelDescCtl" placeholder="Label DESCRIPTION"
                        matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=3
                        (change)="changeLabelValues($event.target)" style="border: 2px solid black"
                        [value]="selectedLabel ? selectedLabel.desc : ''"></textarea>
                    </mat-form-field>
                  </form>
                </div>
                <button #btnSave mat-raised-button (click)="saveElement()" color="primary" [disabled]="!btnStatus.save">
                    <mat-icon [style.color]="btnStatus.save ? '#303F9F':'#afafaf' ">save_alt</mat-icon>
                    &nbsp;&nbsp;<Strong>Save</Strong></button>
            </div> 

        </div>  
    </div>
</div>
