// 좌측 side의 사이즈
.row-side { 
        width: 36%; 
        min-width: 43.5625rem;
        max-width: 46.75rem; 
}

// :host /deep/ { }

/* you can set the disabled style how you like on the text/icon */
.cxtmenu-disabled {
  opacity: 0.333;
}
