<div id="top" class="card-dashboard content scrollbar">

<mat-grid-list cols="2" rowHeight="1:1">
<mat-grid-tile>
    <div class="card card-dashboard-admin-info">
        <h2>Datasource</h2>
        <div class="card-dashboard-admin-info-list">
            <div class="card-dashboard-admin-info-list-box">
                <div class="card-dashboard-admin-info-list-content">
                    <div class="card-dash-text">
                        <p><span>URI</span><b>{{infos.uri}}</b></p>
                        <p><span>Name</span><b>{{infos.name}} (owner: '{{infos.owner}}')</b></p>
                        <p><span>Desc</span><b>{{infos.desc}}</b></p>
                    </div>
                    <!--
                    <div class="card-dash-number">
                        <p><span>Total NodeTypes</span><b>{{ infos.nodes_size_total }} ({{ infos.nodes_size_data }})</b></p>
                        <p><span>Total EdgeTypes</span><b>{{ infos.edges_size_total }} ({{ infos.edges_size_data }})</b></p>
                    </div>
                    -->
                </div>
                <div class="card-dashboard-admin-info-list-content">
                </div>                  
            </div>
        </div>

        <div #progressBar style='visibility:hidden;'>
            <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
        </div>

        <div class="card card-dashboard-meta-table-label">       
            <h2>Labels List</h2>
            <ngx-datatable #tableLabels class="material"
                [columnMode]="'force'" [limit]="5"
                [rows]='tableLabelsRows' [columns]='tableLabelsColumns'
                [headerHeight]="38" [footerHeight]="38" [rowHeight]="'auto'"
                [selected]="selectedLabels" [selectionType]="'single'"
                (select)="onSelectTableLabels($event)"
                >
                <ngx-datatable-column name="TYPE"></ngx-datatable-column>
                <ngx-datatable-column name="ID"></ngx-datatable-column>
                <ngx-datatable-column name="NAME"></ngx-datatable-column>
                <ngx-datatable-column name="SIZE">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span>{{row.size | number}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Remove" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a (click)="openConfirmDeleteLabelDialog(row)" mdTooltip="Delete" mdTooltipPosition="before">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </ng-template>
                </ngx-datatable-column>            
            </ngx-datatable>
        </div>    
    </div>    
</mat-grid-tile>
<mat-grid-tile>
    <div class="card card-dashboard-meta-graph">
        <h2>Schema Graph</h2>
        <div id="div-canvas" #divCanvas class="card-dashboard-meta-graph-canvas"></div>
        <div class="card-dashboard-meta-info">
            <ul>
                <li><span class="span-info">type: </span>{{selectedLabel.type}}</li>
                <li><span class="span-info">id: </span>{{selectedLabel.id}}</li>
                <li><span class="span-info">name: </span><strong>{{selectedLabel.name}}</strong></li>
                <li><span class="span-info">owner: </span>{{selectedLabel.owner}}</li>
                <li><span class="span-info">size: </span>{{selectedLabel.size | number}}</li>
                <li><span class="span-info">desc: </span>"{{selectedLabel.desc}}"</li>
            </ul>
            <a (click)="openInputCreateLabelDialog()"><span>Create Label</span></a>
        </div>
    </div>             
</mat-grid-tile>
</mat-grid-list>

</div>
