<div id="top" class="content col">
    <div class="row strech">
        <div class="left-side row-side col">
            <div class="card" id="dataInfo">
                <div class="row-start">
                    <mat-icon class="m-r-10">data_usage</mat-icon><h4>DATA <strong>SOURCE</strong></h4>
                </div>                    
                <p class="sub-title">AgensBrowser visualizes data as graphs and tables for easier, enhanced understanding and analyzing of data.</p>
                <ul class="list textover border noborder">
                    <li title={{infos.uri}}><span> URL</span>{{infos.uri}}</li>
                    <li title={{infos.name}}><span> NAME</span>{{infos.name}} (owner: '{{infos.owner}}')</li>
                    <li title={{infos.desc}}><span> DESC</span>{{infos.desc}}</li>
                </ul>
                <!--
                <div class="card-dash-number">
                    <p><span>Total NodeTypes</span><b>{{ infos.nodes_size_total }} ({{ infos.nodes_size_data }})</b></p>
                    <p><span>Total EdgeTypes</span><b>{{ infos.edges_size_total }} ({{ infos.edges_size_data }})</b></p>
                </div>
                -->
            </div>
    
            <div #progressBar style='visibility:hidden;'>
                <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
            </div>
    
            <div class="m-20 col strech card">       
                <div class="row-start">
                    <mat-icon class="m-r-10">bookmarks</mat-icon><h4>LABEL <strong>LIST</strong></h4>
                </div>
                
                <ngx-datatable #tableLabels class="material m-20 strech"
                    [columnMode]="'force'" [limit]="8"
                    [rows]='tableLabelsRows' [columns]='tableLabelsColumns'
                    [footerHeight]="48" [rowHeight]="'auto'"
                    [selected]="selectedLabels" [selectionType]="'single'"
                    (select)="onSelectTableLabels($event)"
                    >
                    <ngx-datatable-column name="TYPE"></ngx-datatable-column>
                    <ngx-datatable-column name="ID"></ngx-datatable-column>
                    <ngx-datatable-column name="NAME"></ngx-datatable-column>
                    <ngx-datatable-column name="SIZE">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{row.size | number}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Remove" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a (click)="openConfirmDeleteLabelDialog(row)" mdTooltip="Delete" mdTooltipPosition="before">
                                Remove
                            </a>
                        </ng-template>
                    </ngx-datatable-column>            
                </ngx-datatable>
            </div> 
        </div>
        <div class="right-side row strech">
            <div class="col strech card row-side">            
                <div class="row-start">
                    <mat-icon class="m-r-10">bubble_chart</mat-icon><h4>SCHEMA <strong>GRAPH</strong></h4>
                </div>  
                <div class="row strech m-20">
                    <div id="div-canvas" #divCanvas class="graph-canvas strech border"></div>
                    <div class="viewbox">
                        <div class="scroll-hide">
                            <ul class="list icon border border-left-no">
                                <li><a matTooltip="Create" matTooltipPosition="above" (click)="openInputCreateLabelDialog()"><mat-icon>add</mat-icon></a></li>
                                <li><a matTooltip="Edit" matTooltipPosition="above"><mat-icon>edit</mat-icon></a></li>
                                <li><a matTooltip="Expand" matTooltipPosition="above"><mat-icon>control_camera</mat-icon></a></li>
                                <li><a matTooltip="Delete" matTooltipPosition="above"><mat-icon>delete_outline</mat-icon></a></li>
                                <li><a (click)="refreshCanvas()" matTooltip="refresh Canvas" matTooltipPosition="above">
                                    <mat-icon>refresh</mat-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col strech border-bottom" id="schemaList">
                <h4 class="p-20 border-bottom">
                    <div class="row-start"><mat-icon class="m-r-10">info</mat-icon> <h4>SCHEMA <strong>INFO</strong></h4></div>
                    <span class="block sub-title m-10">AgensBrowser visualizes data as graphs and tables for easier analyzing of data.</span>
                </h4>
                <div class="viewbox col">
                    <div class="scroll-hide">
                        <ul class="list">
                            <li class="row-center">
                                <div class="strech">
                                    <span>TYPE</span> 
                                    <p>{{selectedLabel.type}}</p>
                                </div>
                                <mat-icon>check_circle_outline</mat-icon>
                            </li>
                            <li class="row-center">
                                <div class="strech">
                                    <span>ID</span> 
                                    <p>{{selectedLabel.id}}</p>
                                </div>
                                <mat-icon>check_circle_outline</mat-icon>
                            </li>
                            <li class="row-center">
                                <div class="strech">
                                    <span>NAME</span> 
                                    <p>{{selectedLabel.name}}</p>                                    
                                </div>
                                <mat-icon>check_circle_outline</mat-icon>
                            </li>
                            <li class="row-center">
                                <div class="strech">
                                    <span>OWNER </span> 
                                    <p>{{selectedLabel.owner}}</p>
                                </div>
                                <mat-icon>check_circle_outline</mat-icon>
                            </li>
                            <li class="row-center">
                                <div class="strech">
                                    <span>SIZE </span> 
                                    <p>{{selectedLabel.size | number}}</p>
                                </div>
                                <mat-icon>check_circle_outline</mat-icon>
                            </li>
                            <li class="row-center">
                                <div class="strech">
                                    <span>DESCRIPTION </span>
                                    <p>"{{selectedLabel.desc}}"</p>
                                </div>
                                <mat-icon>check_circle_outline</mat-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
