// 좌측 side의 사이즈
.col-side:nth-child(1) { 
        width: 35%; 
        min-width: 36.5625rem;
        max-width: 43.75rem; 
        margin-right: 1.875rem; 
}

// graph를 감싸고 있는 div의 높이값 >> 높이값이 없으면 graph div 없어짐
.meta-graph { 
        min-height: 25.625rem;    
        .graph-canvas { 
                height: 40rem; 
        }
}       

ul.list li { 
        max-width: 700px; 
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        margin-top: 1.25rem;
        padding: 1rem; 
        border-bottom: 1px solid #ddd; 
        font-size: .875rem; 
        flex: 1; 
        color: #4d4d4d; 
        span { 
                background: #1bc9e4; 
                min-width: 60px; 
                display: inline-block;
                margin-right: 1.25rem; 
                padding: .25rem; 
                border-radius: 1rem;
                text-align: center;  
                font-size: .75rem; 
                color: #fff; 
        }

        strong { 
                display: inline-block; 
                margin-left: 1rem; 
                font-size: .85rem;
                font-weight: 400; 
        }
        
        small { 
                color: #aeb1b4; 
        }
}

ul.list-unique li {
        background: #f5f5f5;
        max-width: 100%; 
}
     


// :host /deep/ { }
