// 좌측 side의 사이즈

.left-side {  
  min-width: 34.5rem; 
  max-width: 34%; 
}

.right-side { 
  width: 66%; 

  .row-side { 
    flex: 3; 
  }
}


// :host /deep/ { }

/* you can set the disabled style how you like on the text/icon */
.cxtmenu-disabled {
  opacity: 0.333;
}
