/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~font-awesome/css/font-awesome.min.css";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/idea.css";

@import "~cytoscape-panzoom/cytoscape.js-panzoom.css";
@import "~tippy.js/dist/tippy.css";

@font-face { font-family: "Noto Sans"; src: url("resources/fonts/NotoSansKR-Regular.otf"); }
@font-face { font-family: "Noto Sans Bold"; src: url("resources/fonts/NotoSansKR-Bold.otf"); }
@font-face { font-family: "Noto Sans Mono"; src: url("resources/fonts/NotoSansMonoCJKkr-Regular.otf"); }
@font-face { font-family: "Noto Sans Mono Bold"; src: url("resources/fonts/NotoSansMonoCJKkr-Bold.otf"); }

:lang(ko) {
  font-family: "Noto Sans", "Noto Sans Bold", sans-serif;
}

html, body, material-app, .my-content {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body { 
  font-family: "Noto Sans", "Noto Sans Bold", sans-serif; 
  background-color: #e9effb;  
}

// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}

// Href line height wasn't right for mat-icon-button

h1, h2, h3, h4, h5, h6, p, a, ul, li { 
  margin: 0; padding: 0; 
}

ul { 
  list-style: none; 
}

a { 
  text-decoration: none; cursor: pointer; 
}

.content {
  height: calc(100% - 64px);   
  padding: 26px 24px;      
  box-sizing: border-box; 
  overflow-y: auto;    

  .card {
    background-color: #fff; 
    margin-bottom: 1.2rem;
    border: 1px solid #ccc; 

    h2 {    
      background-color: #fff; 
      padding: 10px 18px;
      border-bottom: 1px solid #ccc;       
      font-size: 14px; 
      text-transform: uppercase; 
      color: #585858; 
      letter-spacing: .055rem; 
    }

    .card__icon-group {       
      float: right;   
      background-color: #eee; 

      a { 
        display: inline-block; 
        padding: 10px 12px 6px 12px; 
        border-left: 1px solid #ccc; 
        font-size: .815rem; 
        float: left;
        transition: all .3s ease-in-out;     
        
        &:hover { 
          background-color: #bbb; 
          mat-icon { 
            color: #eee; 
          }
          span { 
            background: none; 
          }
        }
        
        span { 
          background-color: #aaa;                    
          margin-top: 3px; 
          margin-right: 2px; 
          padding: 0 5px; 
          float: left;
          border-radius: .225rem; 
          line-height: 14px; 
          font-size: .5rem; 
          color: #fff;  
          transition: all .3s ease-in-out;
        }

        mat-icon {
          width: 19px; 
          height: 19px; 
          font-size: 1.256rem; 
          color: #585858;
        } 
      }
    }
  }

  .wrapped-box-flex { 
    width: 100%;    
    display: flex; 
    justify-content: space-between;             
    box-sizing: border-box;
  }

  .wrapped-box { 
    position: relative; 
    overflow: hidden; 
  }
}

////////////////////////// button 

.btn {
  padding: 6px 16px !important; 
  border-radius: .225rem !important; 
  border: 1px solid #aaa !important;
  box-sizing: border-box !important; 
  font-size: 12px; 
  font-weight: 600; 
  color: #565656 !important; 
  text-transform: uppercase; 
  letter-spacing: .065rem;
  line-height: 18px !important;  
}

.disabled-btn { 
  pointer-events: none; 
  cursor: default;
  background-color: rgba(0,0,0,.12) ;   
  mat-icon { 
    color: rgba(0,0,0,.38) !important; 
  }
  span { 
    background: none !important; 
    color: rgba(0,0,0,.38) !important; 
  }
}

///////////////////////// form 

.mat-select-value {  
  font-size: .815rem;   
}

.mat-input-element { 
  font-size: .855rem !important; 
}


///////////////////////// scrollbar 

.scrollbar { 

  &::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5; 
    margin-top: -1px;
  } 
  &::-webkit-scrollbar { 
    width: 5px;
    background-color: lightgray;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #2a475d;
  }
}

.cdk-global-scrollblock { 
  overflow: hidden; 
}

///////////////////////// circle box

.span__info { 
  background-color: #83878d; 
  min-width: 40px; 
  display: inline-block; 
  margin-right: 6px; 
  padding: 2px 10px; 
  border-radius: 1rem; 
  font-size: 11px; 
  font-weight: 600; 
  font-family: "Montserrat", sans-serif; 
  text-align: center; 
  text-transform: uppercase; 
  color: #fff;
}

///////////////////////// menubox

.mat-menu-content { 
  width: 230px; 
  border: 1px solid #ccc; 
  padding: 0 !important; 

  .mat-subhead { 
    background-color: rgba(1,1,1,0.1) !important;
    padding: 14px 16px !important; 
    border-bottom: 1px solid #ccc; 
    color: #585858;
    
    h4 { 
      font-size: .95rem;
      text-transform: uppercase; 
      letter-spacing: .06rem; 
      color: #585858; 
    }
  }

  button.mat-menu-item { 
    height: auto; 
    border-top: 1px solid #eee; 
    line-height: 2.5rem; 
    font-size:.815rem; 
    color: #585858; 
  }
}


///////////////////////// codemirror 


.CodeMirror { height: 100%; }


///////////////////////// toolbar

mat-toolbar-row { 
  justify-content: space-between; 
  .mat-button-toggle-label-content { 
    padding: 0; 
  }
}

///////////////////////// search 

.div__search { 
  justify-content: flex-end !important; 
  padding: 1.2rem 1rem; 
  display: flex; 

  span { 
      display: flex; 
      flex-direction: row; 
      flex-basis: 350px; 
      
      i { 
          background-color: #eee; 
          display: inline-block; 
          padding: 0 .7rem; 
          border: 1px solid #ccc;
          border-right: none; 
          border-radius: .225rem 0 0 .225rem; 
          line-height: 32px; 
          color: #585858;  
      }

      input { 
          flex-basis: 400px;  
          display: inline-block; 
          margin-right: 28px; 
          padding: .5rem .8rem;
          border: 1px solid #ccc; 
          border-radius: 0 .225rem .225rem 0; 
          outline: none; 
          font-size: .855rem; 
          color: #585858; 
      }
  }
}

///////////////////////// canvas property

canvas { z-index: -1 !important; } 

.cy-panzoom { 
  position: relative !important; 
  top: 50px; 
  left: 16px; 
  z-index: 500; 
}

///////////////////////// scroll button 

div#webUI {
    a { background-color: #3f51b5; 
        padding: 8px; 
        border-radius: 3px; 
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); 
        line-height: 14px; 
        display: inline-block; 
        position: fixed; 
        bottom: 14px; 
        right: 37px; 
        color: white; 
        z-index: 1000;
    }
}

/////////////////////////table 

.ngx-datatable.material { 
  box-shadow: none; 
  font-size: .815rem; 
  align-content: center; 

  .datatable-header { 
    .datatable-header-cell {
      font-weight: 700 !important; 
      color: #383838; 
    }
  }

  .datatable-body {
    .datatable-body-row { 
      width: 100% !important; 
      border-bottom: 1px solid #eee; 
  
      .datatable-body-cell{
        padding: .05rem 1.2rem !important; 
        line-height: 2.05rem; 
        color: #585858; 
        display: flex; 
        align-items: center; 
  
        .datatable-body-cell-label {  
          line-height: 39px; 
          font-size: .765rem; 
          overflow: hidden; 
          text-overflow: ellipsis; 
  
          a {       
            position: relative; 
  
            mat-icon { 
              width: 19px; 
              height: 19px; 
              font-size: 19px; 
              display: block; 
              
            }
          }

          .mat-button-wrapper { 
            display: inline; 
            line-height: 10px;             
    
            i { 
                background-color: #ccc;
                display: inline-flex; 
                border-radius: 50%; 
            }
          }
        }
      }
    }

    .datatable-row-detail { 
      background-color: #dedede !important; 
      border-top: 1px solid #ccc; 
      border-bottom: 1px solid #ccc;             
      letter-spacing: .03rem; 
      font-size: .815rem;   
      color: #484848;             
  
      .span__row-detail-content {
          padding-left: 1rem; 
          font-size: .715rem;
  
          i { margin-right: 8px; }
      }
    }

    .empty-row { 
      background-color: #83878d;
      height: auto; 
      display: inline-block; 
      margin: 12px 18px; 
      padding: .4rem 1.2rem; 
      border-radius: 1rem; 
      font-family: "Montserrat", sans-serif;
      font-weight: 400; 
      font-size: 12px; 
      color: white;
    }
  }  

  .datatable-footer { 
    .page-count {       
      height: 28px;      
      line-height:  28px; 
      font-family: "Montserrat", sans-serif;
      font-weight: 700; 
      font-size: 12px;
      color:#585858; 
    }
  }
}

.datatable-box-padding { 
  padding: 0 44px; 
  margin-bottom: 24px; 

  ngx-datatable {
      flex-grow: 1; 
      border-top: 1px solid #ccc; 
  }
}


////////////////////////////// dialog

.ui-dialog { z-index: 1001 !important ;}

.mat-dialog-title { 
  margin-bottom: 26px; 
  padding-left: 12px; 
  padding-top: 4px; 
  border-left: 4px solid #616b88; 
  line-height: 22px; 

  small { 
    font-size: 12px; 
  }
}

.mat-dialog-actions { 
  justify-content: flex-end; 

  &:last-child {
    margin: 0 !important; 
    padding: 0; 
  }
}

.mat-dialog-content { 

  .example-form {
    min-width: 150px;
    max-width: 360px;
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;

    .example-full-width {
      width: 100%;
    }

    h6 { 
      font-size: .765rem; 
      color: #898989;
      font-weight: 400;       
    }
  }  
}
